@font-face {
    font-family: vanilla;
    src: url('../media/Vanilla-webfont.ttf');
}

body {
    background-color: #262626;
    font-family: sans-serif;
}

#wrap {
    min-width: 660px;
    max-width: 680px;
    margin-left: auto; margin-right: auto;
}

div#wrap > div {

}

#header {
    padding: 0px 25px 25px 25px;
    background-color: black;
    position: relative;
    height: 50px;
    bottom: 5px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    -webkit-border-bottom-radius: 25px;
    -webkit-box-shadow: 0px 0px 6px black;
}

#title a {
    color: pink;
    font-family: vanilla;
    font-size: 28pt;
    padding-top: 15px;
    position: relative;
    float: left;
    text-decoration: none;
    -webkit-text-stroke: 2px black;
}

#title a:hover {
    -webkit-text-stroke: 2px black;
    text-shadow: 0px 0px 10px white;
    -webkit-text-shadow: 0px 0px 5px white;
}

.nav ul {
    margin: 0px;
    position: relative;
    float: right;
    left: 10px;
    top: 20px;
}

.nav li {
    display: inline;
    margin-right: 30px;
}

.nav li:last {
    margin-right: 0px;
}

.nav a:link {
    font-family: sans-serif;
    font-variant: small-caps;
    text-decoration: none;
    font-size: 18pt;
}


#content {
    margin-top: 10px;
    position: relative;
}

#pagination {
    background-color: black;
    margin-top: 25px;
    padding: 25px;
    -webkit-border-radius: 25px;
    -webkit-box-shadow: 0px 0px 6px black;
}

#pagination a:link {
    text-decoration: none;
    bottom: 8px;
    font-family: vanilla;
}

#pagination a:first-child {
    color: #F74C48;
    position: relative;
    float: left;
}

#pagination a:last-child {
    position: relative;
    float: right;
}

#pagination a:visited:first-child {
    color: #F74C48;
}

#pagination a:visited:last-child {
    color: #BAF21E;
}

#footer {
    background-color: black;
    padding: 25px;
    margin-top: 25px;
    position: relative;
    top: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    -webkit-border-top-radius: 25px;
}

#footer em {
    color: #464646;
    font-size: 9pt;
}

/* Post Formatting */

.post a:link {
    text-decoration: none;
}

.post {
    background-color: black;
    margin-top: 25px;
    padding: 25px;
    -webkit-border-radius: 25px;
    -webkit-box-shadow: 0px 0px 6px black;
}

.post h2 {
    padding-bottom: 10px;
    font-variant: small-caps;
    border-bottom: 2px solid #bebebe;
}

.post p {
    margin-top: 25px;
    font-size: 10pt;
    line-height: 20px;
    letter-spacing: 1px;
}

.post a {
    font-family: vanilla;
    position: relative;
    bottom: 5px;
}

.post p {
    color: white;
}

.post em {
    color: #646464;
    font-size: 9pt;
}

h1 {
    margin: 0px;
}

h2 {
    margin: 0px;
}

/* Header Colors */

.normal {
    color: #646464;
}

.teal {
    color: #39E7B2;
}

.orange {
    color: #FFBA03;
}

.red {
    color: #F74C48;
}

.lime {
    color: #BAF21E;
}
