@font-face {
    font-family: vanilla;
    src: url('../media/Vanilla-webfont.ttf');
}

body {
    background-color: #262626;
    font-family: sans-serif;
}

#wrap {
    min-width: 660px;
    max-width: 680px;
    margin-left: auto; margin-right: auto;
}

div#wrap > div {

}

#header {
    padding: 0px 25px 25px 25px;
    background-color: black;
    position: relative;
    height: 50px;
    bottom: 5px;
    border-bottom: 2px solid #222;
    border-right: 2px solid #222;
    border-left: 2px solid #222;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    -webkit-border-bottom-radius: 25px;
    -webkit-box-shadow: 0px 0px 12px black;
}

#title a {
    color: #ff6699;
    font-family: vanilla;
    font-size: 28pt;
    padding-top: 15px;
    position: relative;
    float: left;
    text-decoration: none;
    -webkit-text-stroke: 2px black;
}

#title a:hover {
    -webkit-text-stroke: 2px black;
    text-shadow: 0px 0px 10px white;
    -webkit-text-shadow: 0px 0px 5px white;
}

.nav ul {
    margin: 0px;
    position: relative;
    float: right;
    left: 10px;
    top: 20px;
}

.nav li {
    display: inline;
    margin-right: 30px;
}

.nav li:last {
    margin-right: 0px;
}

.nav a:link {
    font-family: sans-serif;
    font-variant: small-caps;
    text-decoration: none;
    font-size: 18pt;
}


#content {
    margin-top: 10px;
    position: relative;
}

#pagination {
    background-color: black;
    margin-top: 25px;
    padding: 25px;
    border: 2px solid #222;
    -webkit-border-radius: 25px;
    -webkit-box-shadow: 0px 0px 12px black;
}

#pagination a:link {
    text-decoration: none;
    bottom: 8px;
    font-family: vanilla;
}

#pagination a:first-child {
    color: #F74C48;
    position: relative;
    float: left;
}

#pagination a:last-child {
    color: #BAF21E;
    position: relative;
    float: right;
}

#pagination a:visited:first-child {
    color: #F74C48;
}

#pagination a:visited:last-child {
    color: #BAF21E;
}

#footer {
    background-color: black;
    padding: 23px;
    margin-top: 25px;
    position: relative;
    top: 10px;
    float: left;
    border-top: 2px solid #222;    
    border-right: 2px solid #222;
    border-left: 2px solid #222;
    border-top-right-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    -webkit-border-top-left-radius: 25px;
    -webkit-box-shadow: 0px 0px 12px black;
    
}

.footer-round {
    border-bottom: 2px solid #222;
    border-radius: 25px;
}

div.footer-box {
    width: 193px;
    position: relative;
    float: left;
    margin-right: 25px;
    color: white;
}

.footer-box p {
    font-size: 10pt;
}

.footer-box h4 {
    font-variant: small-caps;
    font-size: 16pt;
    border-bottom: 2px solid #bebebe;
    margin: 0px;
}

.footer-box ul {
    margin: 10px 0px 0px 0px;
    position: relative;
    right: 24px;
    font-size: 10pt;
}

.footer-box li {
    line-height: 18px;
}

.spotlight ul {
    margin: 0px;
    list-style-type: none;
    position: relative;
    right: 40px;
    top: 10px;
    width: 194px;
}

.spotlight li:first-child:before {
    content: "song:";
    padding-right: 10px;
    font-size: 8pt;
}

.spotlight .song-artist:before {
    content: "artist:";
    padding-right: 10px;
    font-size: 8pt;
}

.spotlight .song-artist {
    width: 193px;
    margin-top: 5px;
}

#random-button {
    padding-top: 18px;
}

#random-button a {
    text-decoration: none;
    font-size: 10pt;
    position: relative;
    float: left;
    bottom: 1px;
    left: 85px;
    margin-right: 0px;
}

#random-button a:hover {
    font-weight: bold;
}

#random-button span {
    position: relative;
    float: right;
    margin-right: 10px;
}

#recent-posts li {
    list-style-type: square;
}

.twitter a {
    text-decoration: none;
}

.footer-box h4 {
    padding-bottom: 4px;
}

.footer-box ul a {
    text-decoration: none;
}

.footer-box ul a:hover {
    text-decoration: none;
    font-weight: bold;
}

#footer div.footer-box:last-child {
    margin-right: 0px;
}

.icon-nudge {
    line-height: 25px;
}

/* Post Formatting */

.post a:link {
    text-decoration: none;
}

.post {
    background-color: black;
    margin-top: 25px;
    padding: 25px;
    -webkit-border-radius: 25px;
    -webkit-box-shadow: 0px 0px 12px black;
    border: 2px solid #222;
}

.post h2 {
    padding-bottom: 10px;
    font-variant: small-caps;
    border-bottom: 2px solid #bebebe;
}

.post h3 {
    font-size: 10pt;
    color: #646464;
    position: relative;
    float: left;
    margin-right: 10px;
    font-variant: small-caps;
}

#post-info {
    width: 626px;
    height: 30px;
}

.post h3 span {
    font-size: 12pt;
    margin-left: 5px;
}

.post h3 span.self {
    color: #ff6699;
}

.post h3 span.body {
    color: yellow;
}

.post h3 span.isolation {
    color: blue;
}

.post h3 span.poi {
    color: orange;
}

.post p {
    margin-top: 25px;
    font-size: 11pt;
    line-height: 20px;
    letter-spacing: 1px;
}

.post a {
    font-family: vanilla;
    position: relative;
    bottom: 5px;
}

.post p {
    color: white;
}

.post em {
    color: #646464;
    font-size: 9pt;
    position: relative;
    top: 15px;
    float: right;
}

h1 {
    margin: 0px;
}

h2 {
    margin: 0px;
}

/* Header Colors */

.normal {
    color: #646464;
}

.teal {
    color: #39E7B2;
}

.orange {
    color: #FFBA03;
}

.red {
    color: #F74C48;
}

.lime {
    color: #BAF21E;
}

/* Twitter */

.twtr-doc {
    width: 209px;
}

.twtr-widget {
    right: 8px;
    margin-top: 5px;
}

.twtr-tweet-text {
    font-size: 10pt;
    font-family: sans-serif;
}

#tweet-id-1 em {
    color: black;
}

.twtr-ft, .twtr-hd, .twtr-user, .twtr-reply, .twtr-rt, .twtr-fav, .twtr-timestamp {
    display: none;
}

.twtr-tweet-wrap {
    padding: 0px; !important
}
