#tabs .ui-widget-content {
    background: black;
    border: none;
}

.ui-tabs-nav.ui-widget-header {
    background-color: black;
    border: 0px;
}

.ui-tabs {
    padding: 0px;
}

#tabs ul {
    padding: 0px;
    margin: 0px 0px 0px 0px;
    list-style-type: none;
}

#tabs .ui-state-active {
    background: black;
    border: none;
}

#tabs .ui-state-active a {
    border-bottom: 2px solid #bebebe;
    padding-bottom: 10px;
    font-family: sans-serif;
    font-variant: small-caps;
    font-size: 18pt;
}

#tabs .ui-state-default {
    background: black;
    border: none;
}

#tabs .ui-state-default a {
    font-family: sans-serif;
    font-variant: small-caps;
    font-size: 18pt;
}

#tabs li.self a {
    color: #ff6699;
}


#tabs li.body a {
    color: #39E7B2;
}


#tabs li.poi a {
    color: #FFBA03;
}

#tabs li.hoops a {
    color: #C0ADDB;
}


#tabs li.isolations a {
    color: #BAF21E;
}

.tab-list li:nth-child(even) {
    background-color: #262626;
}

.tab-list li {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.tab-list a {
    font-family: sans-serif;
    font-weight: bold;
}

.tab-list a:hover {
    font-weight: bold;
}

#tabs p {
    margin-top: 0px;
    letter-spacing: 0px;
}

#tab-body a {
    color: #39E7B2;
}

#tab-self a {
    color: #ff6699;
}

#tab-poi a {
    color: #FFBA03;
}

#tab-isolations a {
    color: #BAF21E;
}

#tab-hoops a {
    color: #C0ADDB;
}