--- 
layout: post
page: true
color: lime
title: Archive
selected: archive
---

<script>
  $(function() {
      $("#accordion").accordion();
  });
</script>

<div id="accordion">
  {% for cat_posts in site.categories %} 
  <h4><a href="#" class="{{ cat_posts[0] }}">{{ cat_posts[0] }}</a></h4>
  <div>
    <ul>
      {% for post in cat_posts[1] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>

