<!DOCTYPE html>
<html>
  <head>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title>{{ page.title }}</title>
  </head>
  
  <body>
    <div id="wrap">
      <div id="header">

	<div id="title">
	  <h2>hooplog</h2>
	</div>
	  <div class="nav">
	    <ul>
	      <li><a href="/home.html" class="teal">home</a></li>
	      <li><a href="/about.html">about</a></li>
	      <li><a href="/contact.html">contact</a></li>
	      <li><a href="/archive.html">archive</a></li>
	    </ul>
	  </div>

      </div>
      
      <div id="content">
	  {% for post in site.posts limit:5 %}
	  <div class="post">
	    <h2><a href="{{ post.url }}" class="post-title">{{ post.title | downcase }}</a></h2>
	    {{ post.content }}
	    <em>Posted on {{ post.date | date_to_long_string }}.</em>
	  </div>
	  {% endfor %}
      </div>

      <div id="footer">
	<em>This is some footer text here.</em>
      </div>

    </div>
  </body>
</html>
